
.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Naked {
    font-family: 'Inter', sans-serif;
    font-size: xx-large ;
    position: relative;
    transform: translateY(50%);
    display: flex;
    justify-content: center;
    z-index: 20000000;
    bottom: 17.5px;
    top: 0px;
}

h2 {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
}

body {
    margin-top:100px;
    margin-left: 200px;
    margin-right: 200px;
    /* background-color:rgba(10, 164, 235, 0.19); */
    background-color: rgba(255, 218, 185, 0.241);
    column-count: 1;
    font-size: large;
    font-weight: 200;
} 


h1 {
    border-bottom: 10px solid #ff0000;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case {
    border: 5px solid #eb9c0a0c;
    border-radius: 20px;  
    background-color: #eb9c0a3f; 
    box-shadow: 10px 5px 5px grey;
    overflow: scroll;
    height: 100px;
    width: 400px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;

}


#image {
    position: relative;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 25px;
    z-index: -100000;
    width: 516px; 
    height: 387px; 
    box-shadow: 10px 5px 5px grey;
    transform: scale(1);
    transition-duration: .5s;
}

#image:hover {
    transform: scale(1.1);    
}

header {
    /* background-color: #eb0a0ed3; */
    background-color: rgb(154, 179, 255);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.75);

}

footer {
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    justify-content: center;
    border: 15px;
    height: 300px;
}

.highlights {
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
    margin-top: -75px;
}


.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 50px;
    border-radius: 3px 0 0 3px;
}

.prev {
    position: absolute;
    left: 50px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.prev, .next {
    position: absolute;
    top: 225px;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 80em) {
    footer {
        font-size: large;
        top: 10vw;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        justify-content: center;
        border: 15px;
        height: 300px;
    }

    .marginLeft {
            position: absolute;        
            background-color: #888;
            width: 150px;
            height: 1250px;
            left: 0;
            top: 0;
    }

    .marginRight {
        position: absolute;        
        background-color: #888;
        width: 150px;
        height: 1250px;
        right: 0;
        top: 0;

    }
}


/* @media (max-width:400px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
} */

@media (max-width:80em) {
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 325px;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    footer {
        font-size: large;
        top: 10vw;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        justify-content: center;
        border: 15px;
        height: 300px;
    }

    body {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    #image {
        position: relative;
        justify-content: center;
        border-radius: 15px;
        margin-bottom: 25px;
        z-index: -100000;
        width: 344px; 
        height: 258px; 
        box-shadow: 10px 5px 5px grey;
        transform: scale(1);
        transition-duration: .5s;
    }

    #image:hover {
        transform: scale(1.1);    
    }

    figure {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.icon {
    scale: 10%;
    position: absolute;
    left: -250px;
    top: -205px;
}