body {
    background-color: red;
}

div {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 10;
}

#shape1 {
    background-color: aquamarine;
    top: 0%;
    left: 0%;
    border-bottom-right-radius: 75%;
    border-top-right-radius: 25%;
    z-index: 100;
}

#shape2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    padding: 70px;
    background-color: blueviolet;
    top: 250px;
    left: 225px;
    z-index: 112;
    rotate: 45deg;
    border-bottom-right-radius: 50%;
    border: 10px solid;
    border-color: greenyellow;
    height: 300px;
    width: 300px;
}

#shape3 {
    background-color: chartreuse;
    top: 500px;
    left: 700px;
}

#shape4 {
    background-color: violet;
    top: 0px;
    left: 300px;
}

#shape5 {
    background-color: rgb(77, 7, 229);
    top: 0px;
    left: 600px;
    z-index: 112;
    rotate: 30deg;
    height: 300px;
    width: 300px;

}

#shape6 {
    background-color: rgb(255, 128, 0);
    top: 350px;
    left: 0%;
    z-index: 111;
    height: 300px;
}

#shape7 {
    background-color: rgb(67, 76, 144);
    top: 500px;
    left: 0px;
    border-radius: 50%;
    z-index: 1114;
    height: 200px;
    width: 200px;
}

#shape8 {
    background-color: rgb(49, 64, 77);
    top: 500px;
    left: 350px;

}

#shape9 {
    background-color: rgb(255, 116, 116);
    top: 225px;
    left: 650px;
    border-radius: 50%;
    z-index: 113;
    height: 100px;
    width: 100px;
}

#shape10 {
    background-color: aliceblue;
    top: 500px;
    left: 0px;
}
#shape11 {
    background-color: rgb(21, 111, 50);
    top: 0px;
    left: 750px;
}
#shape12 {
    background-color: rgb(7, 135, 246);
    top: 250px;
    left: 650px;
}
#shape13 {
    background-color: rgb(255, 247, 7);
    top: 0px;
    left: 1050px;
    rotate: 15deg;
}
#shape14 {
    background-color: rgb(173, 230, 186);
    top: 350px;
    left: 1050px;
}
#shape15 {
    background-color: rgb(255, 147, 52);
    top: 500px;
    left: 1050px;
    border-top-left-radius: 100% ;
}

#shape16{
    background-color: black;
    top: -25px;
    left:1275px;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    z-index: 100000;
}

#shape17{
    background-color: black;
    top: 0px;
    left: 1315px;
    height: 181.75vh;
    width: 50vw;
    z-index: 1000000;
}
#shape18{
    background-color: black;
    left: 0px;
    top: 900px;
    height: 50vh;
    width: 200vw;
}